<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>index</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-slides  *ngIf="res.carouselItems" autoplay=2000 loop=true pager=true style="height:200px"  >
      <ion-slide  *ngFor="let tmp of res.carouselItems">
          <img  [src] ="'http://localhost/xiangmu/app/ajia_code/ajia_code/'+tmp.img" alt="">
      </ion-slide>
   </ion-slides>
<!--支持横向滚动的容器-->
<ion-scroll *ngIf="res.newArrivalItems" style="height:400px; white-space:nowrap" scrollX=true >
  <ion-card  *ngFor="let tmp of res.newArrivalItems" style="display:inline-block">
    <ion-card-header><img style="height:180px" [src]="'http://localhost/xiangmu/app/ajia_code/ajia_code/'+tmp.pic" alt=""></ion-card-header>
    <ion-card-content>{{tmp.title}}</ion-card-content>
  </ion-card>  
</ion-scroll>
<!--支持-->
<ion-list *ngIf="res.recommendedItems" >
    <ion-item [navPush]="detail" [navParams]="{id:tmp.pid}" *ngFor="let tmp of res.recommendedItems"  style="height:100px" text-wrap>
        <ion-thumbnail  item-start>
           <img [src]="'http://localhost/xiangmu/app/ajia_code/ajia_code/'+tmp.pic" alt="">
        </ion-thumbnail>
        <h3>{{tmp.title}}</h3>
        <p >{{tmp.details}}</p>
        <button ion-button clear item-end>
           <ion-icon name='cart'></ion-icon>
        </button>
    </ion-item>  
</ion-list>    

</ion-content>
